/* variables */
:root {
    --white-color: white;
    --bg-color: rgb(40, 40, 61);
}

body {
    background-color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: ;
    color: var(--white-color);
    margin: 0;
    padding: 0;
}
/* header section */
header {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    border-bottom: 20px solid var(--bg-color);
    border-top: 20px solid var(--bg-color);
}

header h1 {
    color: rgb(66, 29, 29);
    font-size: 70px;
}

header span {
    color: rgb(54, 67, 61);
}
/* hearder nav section */
nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    width: 400px;
    justify-content: space-between;
    padding-right: 20px;
}

nav a {
    color: var(--bg-color);
}

header img {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 10px solid var(--bg-color);
    border-radius: 50%;
    margin: 10px;
}
/* main section */
.big-box {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}
/* class id for all my main sections  */
.small-box {  
    padding: 10px 0;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
/* h2 headings */
.small-box > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var( --white-color);
    line height: 0.9vh;
    font-size: 4vw;
    line-height: 1.1;
} 

.small-box p {
    margin-bottom: 20px;
}

.small-box div {
    flex: 0 0 80%;
}

p {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 25px;
    line-height: 3.5vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-container {
    border: 5px solid var(--white-color);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    align-items: center;
    padding: 0 0 20px 0;
    justify-content: center;
    margin: 0.5rem;
    flex-basis: calc(50% - 1em);
    font-size: 2.5em;
    background-color: rgb(132, 156, 132);
    border-color: rgb(126, 126, 135);
}
/* id section */
#resume {
 justify-content: flex-start;
 padding-left: 40px;
}

#resume a {
   color: var(--white-color);
   font-size: 1.9em;
  }

 #reference {
    font-size: 1.5em;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
    
#reference a {
    color: var( --white-color);
}

/* footer section */
footer {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 10px solid var(--bg-color);
}